[submodule "u-boot-Digilent-Dev"]
	path = u-boot-Digilent-Dev
	url = https://github.com/ucb-bar/u-boot-Digilent-Dev.git
[submodule "Linux-Digilent-Dev"]
	path = Linux-Digilent-Dev
	url = https://github.com/ucb-bar/Linux-Digilent-Dev.git
